* {
  margin: 3px;
  font-family: "Ubuntu", sans-serif;
}
nav {
  padding: 10px;
  display: inline-block;
  width: 100px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
  word-spacing: 2px;
}
nav ul {
  padding: 0px;
}
nav li {
  display: inline;
  margin: 20px;
  padding: 10px;
}
nav a:link, a:visited {
  background-color: white;
  color: rgb(75, 75, 75);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  border-color: white;
}
nav a:hover, a:active {
  color: #96d1ea;
}
.menu {
  width: 100%;
}
h1 {
  text-align: center;
  margin: 10px;
  padding: 20px;
}
i {
  cursor: pointer;
  padding-right: 5px;
  padding-left: 5px;
}
.tag {
  padding: 10px;
  text-align: center;
}
.button {
  background-color: white;
  color: black;
  border: 2px solid lightgrey; 
  padding: 10px;
  border-radius: 8px;
}
.cart-button-checkout {
  background-color: black;
  color: white;
  border: 2px solid black; 
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
  width: 120px;
}
.cart-button {
  background-color: white;
  color: black;
  border: 2px solid lightgrey; 
  padding: 10px;
  border-radius: 8px;
}
.total {
  font-weight: bold;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
}
.column {
  float: left;
  margin-top: 0px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
  margin: 15px;
}
.column:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1);
}
.item img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.itemBottom {
  display: grid;
  grid-template-columns: 60% 40%;

}
.selections {
  display: grid;
  grid-template-columns: 30% 60%;
  line-height: 1.6;
}
.selection-left {
  text-align: center;
}
.selection-right {
  padding-top: 3px;
}
.inputQ {
  padding-left: 15px;
  width: 40px;
  border: none;
  border-radius: 2px;
  padding-top: 5px;
}
.inputS {
  display: inline;
  background: white;
  border: none;
  border-radius: 0;
  cursor: pointer;
  width: 70px;
}
.cart-label {
  padding-bottom: 5px;
  border-bottom: 1px solid lightslategray;
  display: grid;
  grid-template-columns: 15% 16% 16% 16% 16% 16% 5%;
  text-align: left;
}
.cart-item {
  border-bottom: 1px solid lightslategray;
  display: grid;
  grid-template-columns: 15% 16% 16% 16% 16% 16% 5%;
  text-align: left;
  align-items: center;
}
.cart-item img {
  margin-left: 18px;
  height: 80px;
}
.cart {
  padding: 20px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 70% 30%;
}
.cart-left {
}
.cart-right h4{
  display: block;
  text-align: left;
  margin: 5px;
  padding-bottom: 2px;
}
.cart-right-inside {
  padding: 20px;
  height: 180px;
  width: 200px;
  border: 1px solid lightslategray;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 60% 40%;
}
.cart-right-right {
  text-align: right;
}
.cart-right-left {
  text-align: left;
}
.emptyCart {
  padding-top: 30px;
  text-align: center;
  color: lightslategray;
}
#heart {
  text-align: right;
  padding-top: 5px;
  color: #eb3c62;
}
#nav-heart {
  padding-top: 3px;
  color: #eb3c62;
}

.item-liked {
  width: 230px;
  height: 250px;
}
.item-liked img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  display: grid;
  grid-template-columns: 80% 20%;
}
.about {
  text-align: center;
}
.about p {
  padding: 20px;
}
.about button {
  cursor: pointer;
}
.App {
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

@media only screen and (max-width: 1000px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 900px) {
  .cart {
    padding: 20px;
    display: block;
  }
  .cart-item img {
    display: hidden;
}
}
@media only screen and (max-width: 700px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}